<style>
        body, html, video, .video-js {
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;
        }

        .video-js .vjs-big-play-button {
            top: 45%;
            left: 50%;
            transform: translate(-50% -50%);
        }
    </style>